<!DOCTYPE html>
<head>
    <title>Pyrometry Application</title>
    <link rel="app.css">
</head>
<body>
    {% block content required %}
    {% endblock %}
</body>

<style>
* {
    font-family: sans-serif;
}
</style>
